/**
 * TinyMCE button image
 */
body .mce-i-horsetelex {
    background-image: url("../images/horsetelex.png");
}

/**
 * Popup
 * @see https://github.com/WordPress/WordPress/blob/3.9/wp-includes/css/editor.css#L977
 */
 #horsetelex-link-wrap {
	display: none;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	width: 800px;
	height: 500px;
	overflow: hidden;
	margin-left: -400px;
	margin-top: -250px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100105;
	-webkit-transition: height 0.2s, margin-top 0.2s;
	transition: height 0.2s, margin-top 0.2s;
}

#horsetelex-link-backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 100100;
}

#horsetelex-link {
	position: relative;
	height: 100%;
}

#horsetelex-link-modal-title {
	background: #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
	height: 36px;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	padding: 0 36px 0 16px;
	top: 0;
	right: 0;
	left: 0;
}

#horsetelex-link-close {
	color: #666;
	cursor: pointer;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
	text-align: center;
}

#horsetelex-link-close:before {
	font: normal 20px/36px 'dashicons';
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 36px;
	height: 36px;
	content: '\f158';
}

#horsetelex-link-close:hover,
#horsetelex-link-close:focus {
	color: #2ea2cc;
}

#horsetelex-link #horsetelex-link-options {
	padding: 8px 0 12px;
}

#horsetelex-link p.howto {
	margin: 3px 0;
}

#horsetelex-link .link-target {
	padding: 3px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#horsetelex-link .link-target label {
	max-width: 70%;
}

#horsetelex-link .submitbox {
	padding: 8px 16px;
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#horsetelex-link-cancel {
	line-height: 25px;
}

#horsetelex-link-update {
	line-height: 23px;
	float: right;
}

#horsetelex-link-submit {
	float: right;
	margin-bottom: 0;
}

/*------------------------------------------------------------------------------
 wp-link
------------------------------------------------------------------------------*/

#horsetelex-link ol,
#horsetelex-link ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#horsetelex-link input[type="text"] {
	-webkit-box-sizing: border-box;
}

#horsetelex-link input[type="text"],
#horsetelex-link textarea {
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	margin: 1px;
	padding: 3px;
}

#horsetelex-link #horsetelex-options {
	padding: 10px 0 14px;
	border-bottom: 1px solid #dfdfdf;
	margin: 0 6px 14px;
}

#horsetelex-link label input[type="text"] {
	width: 360px;
	margin-top: 5px;
}

#horsetelex-link label span {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 5px;
}

#horsetelex-link .horsetelex-search-wrapper {
	margin: 5px 6px 9px;
	display: block;
	overflow: hidden;
}

#horsetelex-link .horsetelex-search-wrapper img.waiting {
	margin: 8px 1px 0 4px;

	display: none;
}

#horsetelex-link .link-target {
	width: auto;
	padding: 3px 0 0;
	margin: 0 0 0 87px;
	font-size: 11px;
}

#horsetelex-link .query-results {
	border: 1px #dfdfdf solid;
	margin: 0 5px 5px;
	background: #fff;
	height: 185px;
	overflow: auto;
	position: relative;
}

#horsetelex-link li,
#horsetelex-link .query-notice {
	clear: both;
	margin-bottom: 0;
	border-bottom: 1px solid #f1f1f1;
	color: #333;
	padding: 4px 6px;
	cursor: pointer;
	position: relative;
}

#horsetelex-link li:hover {
	background: #eaf2fa;
	color: #151515;
}

#horsetelex-link li.unselectable {
	border-bottom: 1px solid #dfdfdf;
}

#horsetelex-link li.unselectable:hover {
	background: #fff;
	cursor: auto;
	color: #333;
}

#horsetelex-link li.selected {
	background: #ddd;
	color: #333;
}

#horsetelex-link li.selected .item-title {
	font-weight: bold;
}

#horsetelex-link .item-title {
	display: inline-block;
	width: 80%;
}

#horsetelex-link .item-info {
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	position: absolute;
	right: 5px;
	top: 4px;
	bottom: 0;
}

#horsetelex-link  #search-panel {
	float: left;
	width: 100%;
}

/**
 * Results table
 */
#horsetelex-search-results table {
	border-collapse: collapse;

	width: 100%;
}

#horsetelex-search-results tr {
	cursor: pointer;
}

#horsetelex-search-results tbody tr:hover {
	background: #EAF2FA;
}

#horsetelex-search-results th , 
#horsetelex-search-results td {
	border-bottom: 1px solid #F1F1F1;

	padding: 4px 6px;

	text-align: left;	
}
